.carousel-caption-full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(9, 30, 62, 0.85); /* semi-transparent dark overlay */
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff; /* text color */
  text-align: center;
}

.zoom-in-text,.zoom-out-text {
  font-size: 20px;
  font-style: normal;
  animation: zoomIn 1.5s ease-in-out; 
}

/* Keyframes for zoom-in */
@keyframes zoomIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1); 
    opacity: 1;
  }
}


/* Keyframes for zoom-out*/
@keyframes zoomOut{
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1); 
    opacity: 1;
  }
} 
/* .btn-zoom {
  transition: transform 0.3s ease-in-out;
}

.btn-zoom:hover {
  transform: scale(0.9); /* zoom out
}
 */
@keyframes zoomOut {
  0% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.zoom-out {
  animation: zoomOut 0.5s ease-out;
}

/* .section1{
  padding: 20px; 
} */
.section1 h5{
  font-size: 35px;
  font-style: bold;
  font-weight: 700;
}

.section1 p{
  font-size: 25px;
  margin-left: 15px;
}
.section1 .btn{
  border: 2px solid none;
  color: black;
  padding: 10px;
  width: 300px;
  background-color: whitesmoke;
}

